<h1>Welcome to Daily Task Manager</h1><br>
<h3>Create a New User below</h3>

<% if @user.errors.any? %>
Please fix these errors to Create User:
<% @user.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
<% end %><br><br>

<%= render partial: 'form', locals: {user: @user} %>