
<h1><%= current_user.name %></h1><br>
<p> 
    <%= current_user.bio %>
        </p>
                
        <% current_user.lists.each do |list| %>
                <%= button_to "#{list.title}"%>
        <% end %>
#have links to each current_user.lists 
#be able to create new task from here and NAME NAME NAME NAME NAME IT!
