
<h1><%= current_user.name.capitalize %></h1><br>
<%= current_user.bio %><br><br><br>
        
<% current_user.lists.each do |list| %>
        Created On: <%= list.created_at.strftime("%A,  %b %d,  %Y") %>  <%= link_to "#{list.title}", user_lists_path(current_user)%><br><br>
<% end %>

